<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        body {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #414c5b;
            width: 626px;
        }
        td {
            padding-bottom: 4%;
        }
        .child {
          display: inline-block;
          padding: 1rem 1rem;
          vertical-align: middle;
        }
    </style>
</head>

<body>
    <div style="text-align: left;">
        <header>
            <img src="https://s3-offchain-test.s3.us-east-2.amazonaws.com/email_images/assets/group-12860.png" alt="">
        </header>
        <section style="padding-left: 65px; padding-right: 65px; margin-top: 31px; margin-bottom: 41px; width:45%">
            <h2>Thank you for your purchase!</h2>
            <h3 style="font-style: normal;">Summary of your purchase</h3>
            <div>
              <div class='child'><img src="{{url_product_image}}" style="width:70px; height:70px; border-radius: 50%;"></div>
              <div class='child'><img src="https://s3-offchain-test.s3.us-east-2.amazonaws.com/email_images/assets/coffebeans.png">
                <span style="font-size: 20.2px;font-weight: bold;font-stretch: normal; font-style: normal;"> {{basic_product}}</span>
                {%if certification%}
                <img src="https://s3-offchain-test.s3.us-east-2.amazonaws.com/email_images/assets/certificatesustainability.png" >
                {%endif%}
                <div><p>{{product_type}} | {{variety}}</p></div></div>
            </div>
            <hr>
            <div>
            <table style="margin-left: 20%;">
                {%if payment_method%}
                <tr>
                    <td>Payment method</td>
                    <td>{{payment_method}}</td>
                </tr>
                {%endif%}

                {%if order_code%}
                <tr style="border: 1px solid #ddd;">
                    <td>Order code</td>
                    <td><strong>{{order_code}}</strong></td>
                </tr>
                {%endif%}

                {%if date%}
                <tr>
                    <td>Date</td>
                    <td>{{date}}</td>
                </tr>
                {%endif%}

                {%if exchange_rate%}
                <tr>
                    <td>Exchange rate</td>
                    <td>{{exchange_rate}}</td>
                </tr>
                {%endif%}

                {%if value_x_kg%}
                <tr>
                    <td>Value x kg</td>
                    <td>{{value_x_kg}}</td>
                </tr>
                {%endif%}

                {%if amount%}
                <tr>
                    <td>Amount</td>
                    <td>{{amount}}</td>
                </tr>
                {%endif%}

                {%if service_fee%}
                <tr>
                    <td>Service fee</td>
                    <td>{{service_fee}}</td>
                </tr>
                {%endif%}

                {%if total_pay_bnb%}
                <tr>
                    <td style="font-weight: bold; width:70%;">Total to pay in BNB</td>
                    <td style="font-weight: bold;">{{total_pay_bnb}}</td>
                </tr>
                {%endif%}

                {%if exchange_rate%}
                <tr>
                    <td style="font-weight: bold;">Total payment in USD</td>
                    <td style="font-weight: bold;">{{total_pay_usd}}</td>
                </tr>
                {%endif%}
            </table>
            </div>

        <footer style="font-size: 11.7px; text-align: center;">
            <br><br>
            <div style="display: flex; justify-content: center;">
                <p>
                    Copyright © 2023
                </p>
            </div>
        </footer>
    </div>
</body>

</html>