option_settings:
    aws:elasticbeanstalk:application:environment:
        ENV: testing
        FLASK_APP: "application: app"
        APP_SETTINGS_MODULE: src.infrastructure.config.default
        SECRET_KEY: 123447a47f563e90fe2db0f56b1b17be62378e31b7cfd3adc776c59ca4c75e2fc512c15f69bb38307d11d5d17a41a7936789
        UTC_TIME_ZONE: America/Bogota
        DB_ENGINE: postgresql+psycopg2
        TESTING_DB_USERNAME: postgres
        TESTING_DB_PASSWORD: d1w1wDT2snEn9YthaxF0
        TESTING_DB_HOST: dbbazarnetwork.cluster-ro-csraj2wgqiso.us-east-2.rds.amazonaws.com
        TESTING_DB_PORT: 5432
        TESTING_DB_NAME: postgres
        TESTING_DB_SCHEMA: public
        AWS_DEFAULT_REGION: us-east-1
        AWS_SESSION_TOKEN: IQoJb3JpZ2luX2VjEGQa
        TESTING_AWS_ACCESS_KEY_ID: AKIAYPXLWX7BZPAB3XRD
        TESTING_AWS_SECRET_ACCESS_KEY: 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
        TESTING_AWS_BUCKET_NAME: s3-offchain-test
        TESTING_AWS_BUCKET_DOMAIN: http://s3-offchain-test.s3.amazonaws.com/
        AUTH0_DOMAIN: dev-bazarnetwork.us.auth0.com
        AUTH0_API_AUDIENCE: https://dev-bazarnetwork.us.auth0.com/api/v2/
        FLASK_DEBUG: true